body {
    background-color: rgb(8, 62, 83)
}

main {
    color: grey;
    background-color: black;
    }


header{
    background-color: rgb(8, 62, 83);
}



h1 {
    font-family: 'Courier New', Courier, monospace;
        text-align: center;
        color: rgb(82, 121, 82)
}
nav{
    background-color: gray;

    opacity: 0.7;
}
ul{
    text-align: center;
    padding: 25px;
}
li {
    border: black, 10px, solid;
    padding: 30px;
    margin: 25px;
    display: inline;
    opacity: 0.7;
    
    
    background-color: blanchedalmond;
    color: rgb(36, 7, 59))
   

}
img{

    height: 300px;
   

}
a{
    text-align: center;
   
}
#first{
    height: 300px;
    width: 600px;


}

#second{
    height: 300px;
    width: 600px;

}
#centered{
    text-align: center;
    display: block;
  margin-left: auto;
  margin-right: auto;
}