header {
    background-color: (magenta);
    color: black
}

nav{
    background-color: gray;
    color: white;
}
main {
color: blanchedalmond;
background-color: black;
}

a {

    max-width: 600 px;
    max-height: 400 px;
}